@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
 
}

p,
a,
li,
span,
tr td,
button {
    font-family: 'Roboto', sans-serif;
    color: #000;
  /*  margin-right: 5px; */

}
html {
    scroll-behavior: smooth;
  }
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/*============= main page =================*/
/* top header */
.top-header {
    background: #d5d6d6;
}
.category-header h2{
      padding: 15px 0px 15px;
  /* background: url(../../../Asset/Uploads/Categories/ribon.png) 0% 0% no-repeat;
  background-size: 25% 69%;
  padding: 9px 135px 61px;
  color: #fff;
  margin-top: 15px; */
}
.single_page ul li{
list-style:circle !important;
}
.span-list p {
    text-align: left;
}

.top-header p {
    margin: 0;
}

.span-list p span:first-child {
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.span-list p span {
    float: right !important;
    padding: .4em .8em;
    display: block;
    font-size: 13px;
    color: #333;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.span-list p span i {
    margin-right: .3em;
}

.anchor-list p a {
    float: right;
    padding: .4em .8em;
    display: block;
    font-size: 13px;
    color: #333;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.anchor-list p a:first-child {
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.img-thumbnail {
       width: 100%;
   
     border: none !important; 

}
/* header */
header .logo-img img {
    width: 100%;
    height: 145px;
    object-fit: contain;
    padding: 5px;
}

header .self-menu {
    padding-top: 39px;
}

.search {
    width: 100%;
    display: inline-block;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

.search_input {
    width: 100%;
    height: 43px;
    background: rgb(213 214 214);
    border:none;
    border-radius: 24px;
    /* border-top: none;
    border-left: none;
    border-right: none; */
    outline: none;
    padding-left:7px;
    /* margin-left: 25%; */
}

.search_button {
    position: absolute;
    top: 64%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 21px;
    width: 19px;
    height: 19px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #0000007d;
}

header .cart p {
    padding-top: 20px;
    display: inline-block;
}

header .cart i {
    font-size: 29px;
    color: #f16024;
}

.cart_num_container {
    position: relative;
    top: -37%;
    right: -80px;
    width: 20px;
    height: 20px;
    background: #20245ce0;
    border-radius: 50%;
}

.cart_num_inner {
    width: 100%;
    height: 100%;
}

.cart_num {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

/* banner */
.main-banner {
    background: url(../images/bannerimg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 500px; */
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 49%);
}

.main-banner .headCat {
    background: #f16024;
}

.list-group-item:last-child,
.list-group-item:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.carousel-item img {
    height: 65vh;
    /* object-fit: cover; */
}

/*-- banner-bottom --*/
.banner-bottom,
.team,
.checkout,
.additional_info,
.team-bottom,
.single,
.mail,
.special-deals,
.about,
.faq,
.typo,
.new-products,
.banner-bottom1,
.top-brands,
.mobiles,
.w3l_related_products {
    padding: 1.5em 0;
}

.modal-body iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}

.video-img {
    background: url(../../../Asset/Uploads/Products/pencil.png)no-repeat right center;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 475px;
}

/*--banner-modal--*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}

.modal.bnr-modal {
    padding: 0 1em !important;
}

.modal-body {
    padding: 0em 2em 2em;
}

.modal-dialog {
    margin: 6em auto 0;
}

.modal-header {
    border: none;
    min-height: 2.5em;
    padding: 0em 1em 0;
}

.modal button.close {
    color: #ff5063;
    opacity: 1;
    font-size: 2em;
    outline: none;
    text-align: right;
    width: 100%;
    margin-top: 6px;
    padding-right: 10px;

}

.modal-body p {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
}

.highlight .agile_ecommerce_tabs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav>li>a {
    padding: 10px 15px;
}

.nav-tabs>li>a {
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #3c43a4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 4em;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #3c43a4;
    color: #fff;
    border: none;
    border-bottom: 1px solid #3c43a4;
}

.nav-tabs>li>a:hover {
    border-bottom: 1px solid #3c43a4;
    color: #3c43a4;
}

.nav-tabs {
    border: none;
    color: #3c43a4;
}

.agile_ecommerce_tab_left {
    padding-left: 0;
    text-align: center;
}

.agile_ecommerce_tabs {
    padding: 2em 0 0;
}

.agile_ecommerce_tab_left h5 {
    margin: 2em 0 0;
}

.agile_ecommerce_tab_left h5 a {
    font-size: 1.2em;
    color: #ff5063;
    text-decoration: none;
    font-weight: 700;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}

.agile_ecommerce_tab_left h5 a:hover {
    color: #3c43a4;
}

.simpleCart_shelfItem p {
    font-size: 1.2em;
    color: #212121;
    margin: 0.5em 0 1em;
    font-weight: 600;
}

.simpleCart_shelfItem p span {
    color: #999;
    font-size: .8em;
    text-decoration: line-through;
    padding-right: 1em;
    font-weight: 300;
}

.agile_ecommerce_tab_left p i {
    font-style: normal;
}

.simpleCart_shelfItem button.w3ls-cart {
    font-size: 14px;
    color: #000;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background: transparent;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.simpleCart_shelfItem button.w3ls-cart:hover {
    background: #3c43a4;
    color: #fff;
    border: 1px solid #3c43a4;
}

/*-- image-hover --*/
.hs_bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
    opacity: 0;
    top: 0%;
    left: 0%;
    z-index: 200;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -moz-transform: translate(460px, -100px) rotate(180deg);
    -o-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    -moz-transition: all 0.2s 0.4s ease-in-out;
    -o-transition: all 0.2s 0.4s ease-in-out;
    -ms-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
}

.hs_bottom ul,
.flex_ecommerce {

    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.agile_ecommerce_tab_left:hover .hs_bottom ul,
.w3l_related_products_grid:hover .flex_ecommerce {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hs_bottom ul li {
    display: inline-block;
}

.hs_bottom ul li a {
    display: block;
}

.hs_bottom ul li a,
.flex_ecommerce a {
    font-size: 1em;
    color: #212121;
    text-decoration: none;
    padding: .5em;
    background: #fff;
}

.hs_bottom ul li a:hover,
.flex_ecommerce a:hover {
    background: #ff5063;
    color: #fff;
}

.agile_ecommerce_tab_left:hover .hs_bottom {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.modal-dialog {
    width: 950px;
}

.modal_body_right h4 {
    font-size: 1.6em;
    color: #ff5063;
    text-transform: capitalize;
}

.modal_body_right p {
    margin: 1.5em 0;
    line-height: 1.8em;
    color: #999;
    font-size: 14px !important;
}

.modal_body_right_cart p {
    font-size: 1.2em !important;
    color: #212121;
    margin: 0em 0 1em !important;
}

.modal_body_right h5 {
    font-size: 1em;
    color: #212121;
    margin: 2em 0 1em;
}

.modal_body_left img {
    width: 100%;
}

/*-- Ratings --*/
.rating-left {
    float: left;
}

.rating-left img {
    margin: .3em 0.1em 0;
}

.rating1 {
    direction: ltr;
    margin-bottom: 2em;
}

.starRating:not(old) {
    display: inline-block;
    height: 18px;
    width: 100px;
    overflow: hidden;
}

.starRating:not(old)>input {
    margin-right: -26%;
    opacity: 0;
}

.starRating:not(old)>label {
    float: right;
    background: url(../images/star.png);
    background-size: contain;
    margin-right: 2px;
}

.starRating:not(old)>label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/star-.png);
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)> :checked~label:before {
    opacity: 1;
}

/*-- //Ratings --*/
.color-quality ul li {
    display: inline-block;
    margin-right: .5em;
}

.color-quality ul li a {
    font-size: 14px;
    color: #999;
    text-decoration: none;
}

.color-quality ul li a span {
    width: 15px;
    height: 15px;
    display: block;
    background: #ff0000;
    margin: 0 auto .5em;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
}

.color-quality ul li a.brown span {
    background: #00008c;
}

.color-quality ul li a.purple span {
    background: #840084;
}

.color-quality ul li a.gray span {
    background: #ff00ff;
}

/*-- //banner-bottom --*/

/* animation */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible !important;
}

/* animation */

/* category */
.cato-box {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    min-height: 150px !important;
    border: 1px solid #e2e2e2;

}

.cato-box:hover {
    z-index: 1234;
    position: relative;
    -webkit-box-shadow: 0 5px 49px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 49px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 49px -12px rgba(0, 0, 0, 0.75)
}

/* footer */
.site-footer {
    background-color: #eeeeee;
    padding: 2em 0;
}

.site-footer .footer-text {
    color: #707b8e;
    padding: 5px 0;
}

.site-footer .app img {
    width: 50%;
    height: 100%;
}

.payment-img img {
    width: 115px;
    height: auto;
}

.extra-footer {
    background-color: #212529;
    color: #878787;
}

.extra-footer ul li {
    color: #878787;
}

.extra-footer h5 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 3px;
    word-spacing: 1.5;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/* our-info */
.our-info {
    background: #20245c;
    color: #fff;
}

.our-info p {
    color: #fff;
    margin-bottom: 0;
}

.our-info i {
    width: 35px;
    height: 35px;
    border: 2px solid #CCC;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    text-align: center;
}

.newsletter_input {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    padding-left: 25px;
    border: none;
    outline: none;
}

.newsletter_button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 142px;
    height: 46px;
    background: #937c6f;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/* product details */
.item-detail {
    background: #fff;
   /* padding: 1.5em 0; */
}

.indi-prod:hover {
    cursor: pointer; 
}

.indi-prod {
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #fff;
    margin: 15px 0;
}

.indi-prod:hover {
    box-shadow: 0px -1px 6px 10px rgba(0, 0, 0, .12);
    margin-top: -1px;
    transition: .5s;
}

.product-img img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.pro-detail {
    padding: 1.3rem;
}

.p-tag {
    font-size: 13px;
    color: #968f8f;
    letter-spacing: 1px;
}

.pro-detail span {
    display: block;
}

.abt-pro {
    font-size: 18px;
    color: #2d347de6;
}

.p-rate {
    font-size: 14px;
    padding-bottom: 12px;
}

.p-rate del {
    color: #968f8f;
}

.p-view {
    padding: 5px;
    width: 100%;
    border: 2px solid #11519B;
    text-transform: uppercase;
    font-size: .8em;
}

.p-view a {
    color: #11519B;
}

.p-view:hover {
    background: #11519B;
    transition: .5s;
}

.p-view:hover a {
    color: #fff;
    transition: .5s;
}

.indi-prod {
    position: relative;
}

.badge-container {
    position: absolute;
    top: 10%;
    left: -2%;
}

.badge-frame {
    height: 2em;
    margin-left: -4px;
}

.badge {
    display: table;
    z-index: 2;
    pointer-events: none;
    height: 3.1em;
    width: 2.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.badge-inner.on-sale {
    background-color: #a8a8a8;
    color: #446084;
    border: 2px solid currentColor;
}

.badge-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    line-height: .85;
    padding: 2px;
    white-space: nowrap;
    transition: background-color .3s, color .3s, border .3s;
}

.badge-inner.on-sale span {
    font-size: 14px;
    color: #446084;
}

/* Category Page */
.nav-info {
    background: #1f245c;
    color: #fff;
    padding: 15px 0;
    text-transform: capitalize;
}

.nav-info .dropdown-menu.show {
    width: 100%;
}

.nav-info a {
    color: #ccc;
    text-transform: uppercase;
    display: inline-block;
}

.breadcrumbs .divider {
    color: #ccc;
    margin: 0 .3em;
    font-weight: 300;
}

.nav-info .form-control {
    padding: 0;
}

.c-price {
    float: left;
    display: block;
    width: 40%;
    height: 30px;
    padding: 0 7px;
    text-align: left;
    color: #404040;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 #ececec;
    box-shadow: 0 1px 1px 0 #ececec;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-width: auto;
    -moz-appearance: textfield;
}

.c-dash {
    float: left;
    width: 10px;
    text-align: center;
    line-height: 30px;
    color: gray;
}

.c-btn:not(.c-btn-circle):not(.c-btn-circle-outline).c-btn-icon-only {
    padding-left: 10px;
    padding-right: 10px;
}

.c-btn-primary {
    color: #fff;
    background-color: #f57224;
    border-color: #f57224;
}

.c-find {
    float: left;
    height: 30px;
    padding: 0 7px;
    border-radius: 3px;
    outline: 0;
    margin-left: 4px;
}

.product-filter>ul>li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.product-filter>ul>li>a {
    display: inline-block;
    padding: 6px 0;
    -ms-flex: 1;
    flex: 1;
}

.product-filter>ul>li .count {
    opacity: .5;
    font-size: .9em;
    line-height: 3em;
}

.product-filter>ul>li {
    border-top: 1px solid #ececec;
}

.product-filter>ul>li:first-child {
    border-top: none;
}

/* item page */
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 5em;
}

.product-summary .price {
    font-size: 1.5em;
    margin: .5em 0;
    font-weight: bold;
    line-height: 1;
}

del span.amount {
    opacity: .6;
    font-weight: normal;
    margin-right: .3em;
}

.product-summary .Price-currencySymbol {
    font-size: .85em;
    vertical-align: top;
    display: inline-block;
    margin-top: .05em;
    margin-right: 0.3em;
}

ins {
    text-decoration: none;
}

.product-summary p {
    color: #636363;
}

.occasional h5 {
    color: #000;
    margin: 0 0 12px;
    letter-spacing: 1px;
}

.colr {
    width: 33.333%;
    float: left;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.product-summary form #decrease {
    margin-right: -4px;
}

.product-summary form #increase {
    margin-left: -4px;
}

.product-summary form #input-wrap {
    margin: 0px;
    padding: 0px;
}

.product-summary input#number,
.cart-container input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

.product-summary input[type=number]::-webkit-inner-spin-button,
.product-summary input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.AddtoCartbtn {
    background-color: #007784;
    color: #fff;
    text-transform: uppercase;
    border-color: rgba(0, 0, 0, 0.05);
    letter-spacing: .03em;
    cursor: pointer;
    padding: 0.3em 1.2em;
}

.occasional {
    margin-bottom: 1em;
}

/* item description */
.resp-tabs-list li {
    font-family: 'Roboto', sans-serif;
}

.responsive_tabs {
    margin: 2em 0;
}

.single_page p {
    line-height: 2em;
    color: #888;
}

.bootstrap-tab-text-grids {
    margin: 3em 0 0 0em;
}

.bootstrap-tab-text-grid-left {
    float: left;
    width: 14%;
}

.bootstrap-tab-text-grid-right {
    float: right;
    width: 83%;
}

.bootstrap-tab-text-grid-right ul li {
    display: inline-block;
}

.bootstrap-tab-text-grid-right ul li a {
    font-size: 1em;
    color: #3366cc;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.bootstrap-tab-text-grid-right ul li:nth-child(2) {
    float: right;
}

.add-review h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #212121;
    margin: 2em 0 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.add-review textarea {
    width: 100% !important;
    min-height: 120px;
    margin: 1em 0;
    resize: none;
}

.add-review input[type="submit"] {
    outline: none;
    padding: 14px 0;
    background: #fb383b;
    border: none;
    width: 20%;
    font-size: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.similar_prods .product-img img {
    height: 133px;
}

.similar_prods {
    padding-bottom: 3em;
}

/* CHECKOUT  */
.checkout-breadcrumbs a {
    color: #ccc;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: .8em;
}

.breadcrumb-step {
    display: inline-block;
    background-color: #ccc;
    color: #FFF;
    margin: 0 .5em;
    font-weight: bolder;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    font-size: .7em;
    line-height: 1.5em;
    border-radius: 99px;
    position: relative;
    top: 1px;
}

.current .breadcrumb-step {
    background-color: #d26e4b;
}

.checkout-breadcrumbs .divider {
    top: 2px;
    margin: 0 .5em;
}

a.remove {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    line-height: 19px !important;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
}

td.product-remove {
    width: 20px;
    padding: 2em 0;
}

.product-thumbnail {
    padding: .75rem 0 !important;
}

.is-outline.primary {
    color: #11519B;
    padding: 6px 36px;
}

.is-outline {
    border: 2px solid currentColor;
    background-color: transparent;
}

.cart-total {
    border-left: 1px solid #ececec;
}

.wc-proceed-to-checkout {
    margin: 1.5em 0;
}

.button.alt:not(.is-outline) {
    background-color: #007784;
    color: #fff;
}

/* Login Page  */
.login-body {
    background-color: #eff0f6;
    padding: 5em 0;

}

.register,
.login {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 23px 3% 41px 41%;
    text-align: center;
    /* margin: 3em 0; */
}

.register .fa,
.login .fa {
    color: #1f255d;
    font-size: 30px;
}

.register strong,
.login strong {
    color: #3b3663;
    display: block;
    font-size: 18px;
}

.register span,
.login span {
    color: #696687;
    font-size: 18px;
    opacity: .8;
}

.register .form .form-row,
.login .form .form-row {
    position: relative;
    text-align: left;
}

.register .form .form-row .fa,
.login .form .form-row .fa {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 30px;
    color: #696687;
    opacity: .3;
}

.register .form .form-label,
.login .form .form-label {
    color: #3e33a9;
    font-size: 17px;
    opacity: .7;
}

.register .form-password,
.register .form-text,
.login .form-password,
.login .form-text {
    color: #696687;
    font-size: 18px;
    border: 0;
    height: 40px;
    margin-bottom: 15px;
  border-radius: 6px;
    padding: 0 40px 0 11px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.register .form .form-row.bottom,
.login .form .form-row.bottom {
    display: flex;
    justify-content: space-between;
}

.register .form .form-row .form-check input[type="checkbox"],
.login .form .form-row .form-check input[type="checkbox"] {
    /* display: none; */
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    color: transparent;
    content: "\2714";
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    transition: 0.2s;
    vertical-align: inherit;
    width: 18px;
    text-align: center;
    line-height: 20px;
}

.register .form .form-row .form-check input[type="checkbox"]+label,
.login .form .form-row .form-check input[type="checkbox"]+label {
    cursor: pointer;
    display: block;
    color: #09043a;
    font-size: 18px;
    opacity: .7;
    display: inline-block;
}

.register .form .form-row.bottom .forgot,
.login .form .form-row.bottom .forgot {
    color: #4d61fc;
    font-size: 18px;
    opacity: .7;
}

.register .form .form-row.button-login,
.login .form .form-row.button-login {
    margin-top: 30px;
}

.register .btn,
.login .btn {
    /* align-items: center; */
    background: #4d61fc;
    border-radius: 6px;
    border: 0;
    color: #fff;
    cursor: pointer;
    /* display: flex; */
    font-size: 16px;
    padding: 0px;
    transition: 0.2s;
    font-weight: 300;
    /* text-align: center !important; */
}

.register .form .form-row.button-login .fa,
.login .form .form-row.button-login .fa {
    position: static;
}

.register .btn-login .fa.fa-arrow-right,
.login .btn-login .fa.fa-arrow-right {
    color: #fff;
    opacity: 1;
}

.btn .fa.fa-arrow-right {
    line-height: 12px;
    margin: 0 0 0 10px;
}

.register .form-password:focus,
.register .form-text:focus,
.login .form-password:focus,
.login .form-text:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
}

.fb-btn {
    background: #3b5998 !important;
}

.google-btn {
    background: #d34836 !important;
}

.fb-btn i,
.google-btn i {
    color: #fff !important;
}

.welcomeMsg {
    font-family: 'Roboto', sans-serif;
    padding: .5em 0;
    letter-spacing: .3em;
}

.sub-options {
    padding-left: 1em;
}

.sub-options span {
    display: block;
    color: #6b6b6c;
    font-family: 'Roboto', sans-serif;
    padding-bottom: .8em;
    letter-spacing: .2em;
}

.sub-options span:hover {
    color: #d06538;
    cursor: pointer;
}

.bg-gray {
    background: #f3f3f3ab;
    padding: 1em;
}

.user-profile {
    height: 187px;
}

.profile-manage .user-profile h5 {
    margin-bottom: 0.6em;
}

.profile-manage .user-profile span {
    font-size: 16px;
}

.profile-manage .user-profile span {
    font-size: 15px;
    color: #676060;
}

.profile-manage .user-profile .addr-name,
.order-det table a {
    margin-bottom: 0.4rem;
}

.profile-manage .user-profile span a,
.order-det table a {
    color: #1097ca;
}

.order-det table img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: .7em;
}

.up-manage button {
    margin-bottom: 20px;
    display: block;
}

.user-manage-btn {
    display: block;
    padding: .5em;
    border-style: none;
    width: 40%;
    background-color: #1a9cb7;
    border-color: #1a9cb7;
    color: #fff;
}

.up-manage {
    height: auto;
}

.table td,
.table th,
.table span {
    font-size: 14px;
}

/* myorder */
.order {
    margin-top: 12px;
    padding-bottom: 24px;
    background-color: #f3f3f3ab;
}

.order-info {
    padding: 8px 12px;
    min-height: 50px;
    border-bottom: 1px solid #dadada;
    display: -webkit-box;
    display: flex;
}

.order-item .item-pic img {
    width: 80px;
    height: 80px;
}

.order-info .pull-left,
.order-info .pull-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.order-info .info-order-left-text {
    margin-bottom: 4px;
}

.order-info .link {
    color: #1a9cb7;
    font-weight: 500;
}

.text.desc {
    font-size: 12px;
}

.text.info {
    color: #757575;
}

.order-info .pull-cont {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 0 30px;
    text-align: right;
}

.order-item {
    min-height: 80px;
    margin: 24px 12px 24px 36px;
    padding-right: 12px;
    width: 679px;
}

.order-item .item-pic {
    float: left;
}

.order-item .item-main {
    float: left;
    width: 360px;
    margin-left: 12px;
    margin-right: 24px;
}

.order-item .item-main-mini {
    width: 206px;
}

/* .order-item .item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
} */
.text.title {
    font-size: 14px;
    margin-bottom: 3px;
}

.order-item .item-quantity {
    font-size: 14px;
    float: left;
    width: 1px;
    min-height: 80px;
    text-align: left;
}

.order-item .item-quantity .multiply {
    font-size: 14px;
}

.text.multiply {
    color: #c9c9c9;
}

.order-item .item-status {
    float: left;
    min-height: 80px;
    text-align: left;
}

.order-item .item-capsule {
    width: 162px;
    text-align: center;
}

.capsule {
    font-size: 12px;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 24px;
    background-color: #eff0f5;
    max-width: 150px;
}

.order-item .item-info {
    float: right;
    min-height: 80px;
    text-align: right;
    max-width: 204px;
}

.text.delivery-success {
    color: #212121;
}

/* myreview */
.item-review .review {
    margin: 20px;
}

.item-review {
    padding: 1em;
}

.item-review .my-item .item-main-mini {
    border-right: 2px solid #c6c7ca;
}

.my-reviews-group-header {
    margin-bottom: 13px;
}

.review-seller {
    display: inline-block;
}

.review-seller-name {
    font-size: 14px;
    color: #049cb9;
}

.my-reviews__rate-button {
    height: 28px;
    line-height: 28px;
    width: 160px;
    text-transform: uppercase;
    color: #f57224;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-color: #f57224;
}

.rating-star .text-rating {
    font-size: 12px;
    -ms-flex-item-align: center;
    align-self: center;
    color: #212121;
}

.rating-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.review-container {
    margin-top: 17px;
    width: 50%;
}

.review-content {
    padding: 15px 12px;
    border: 1px solid #d5d5d5;
    white-space: pre-wrap;
    font-size: 14px;
    color: #212121;
    background: #eff0f5;
}

.review-status.pending {
    color: #049cb9;
    font-size: 14px;
}

.review-status {
    padding: 10px 12px;
}

.success-box {
    margin: 50px 0;
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.success-box img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.success-box>div {
    vertical-align: top;
    display: inline-block;
    color: #888;
}



/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star {
    display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.ustar {
    color: #FF912C;
}

/* nav menu */
.head-menu {
    /* background-color: #121640; */
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #fff;
}

.head-menu a {
    color: #000;
}

.dropdown-menu {
    font-size: 14px;
    /* background-color: #1f245c; */
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #000;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

}
@media (max-width: 1000px) {

    .register, .login {

        padding: 23px 3% 21px 41%;
    }
}
#paymentOptions {
    /* max-width:550px; */
    margin: 24px auto;
    padding: 8px;
    font-size: 1em;
    border-radius: 3px;
    background: #eee;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px 4px rgba(100, 100, 100, .15);
}

#paymentOptions h2 {
    margin: 0;
    padding: 8px 10px 12px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#paymentOptions ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    margin-bottom: 8px;
    border-bottom: 1px solid #b3e5fc;
}

#paymentOptions li {
    padding: 10px;
    color: rgba(188, 188, 188, .4);
    margin: 8px 0;
    cursor: pointer;
    transition: .218s ease;
    background: #fafafa;
    border: 1px solid #e0e0e0;
}

#paymentOptions li:first-child {
    margin-top: 0;
}

#paymentOptions li:hover {
    color: rgba(188, 188, 188, .9);
}

#paymentOptions .radio {
    position: relative;
    margin-right: 1ch;
}

#paymentOptions .radio input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#paymentOptions .radio label {
    display: inline-block;
    vertical-align: top;
}

#paymentOptions .radio label:before {
    content: "\f10c";
    font-family: 'Roboto', sans-serif;
    padding: 4px;
}

#paymentOptions .radio input:checked+label:before {
    content: "\f05d";
    color: #424242;
}

#paymentOptions .details {
    color: #424242;
}

#paymentOptions .details:before {
    font-family: 'Roboto', sans-serif;
    margin-right: 1ch;
}

#paymentOptions .details.credit:before {
    content: "\f0d6";
}

#paymentOptions .details.ach:before {
    content: "\f19c";
}

#paymentOptions .details.paypal:before {
    content: "\f1ed";
}

.payment-img {
    height: 100px;
}




/* contact Page */
.contact-view {
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 30px;
}

.d-grid {
    display: grid;
}

.sub-title,
.sub-title-1 {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    padding-left: 70px;
    color: #f25b05;
}

.sub-title:before,
.sub-title-1::before {
    content: '';
    display: block;
    width: 55px;
    height: 3px;
    background-color: #f25b05;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
}

.hny-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    position: relative;
}

.cont-details p,
.cont-details p a,
.map-content-9 p {
    font-size: 18px;
    line-height: 28px;
    color: #525252;
}

.cont-top {
    display: grid;
    grid-template-columns: 40px auto;
    grid-column-gap: 20px;
}

.cont-left span.fa {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f25b05;
    color: #fff;
    border-radius: 50%;
}

.cont-details h6 {
    font-size: 20px;
    color: #011627;
    font-weight: 600;
}

.margin-up {
    margin-top: 1.5rem;
}

.twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.map-content-9 form input,
.map-content-9 form textarea {
    background: #f4f4f4;
    border: 1px solid transparent;
    color: #525252;
    font-size: 18px;
    padding: 12px 20px;
    line-height: 28px;
    width: 100%;
    border-radius: 6px;
    height: 58px;
}

.twice {
    margin-bottom: 20px;
}

.map-content-9 form textarea {
    resize: none;
    min-height: 140px;
}

.btn-primary {
    color: #fff;
    background-color:#232152;
    border: none;
    
    border-radius:25px;
}
 button:focus {
        outline: 0 !important;
    }
.btn-primary:hover {
    color: #fff;
    background-color:#ef3d23;
   
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: #f25b05;
}
.navbar-toggler{
    border: 1px solid #000;
    border-radius: 7px;
}
